/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  
}
/* Your existing styles here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

header {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
  z-index: 999;
}

.navbar {
  
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.navbar .logo a {
  font-size: 23px;
  font-weight: bold;
  padding-left: 20px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .links {
  display: flex; 
  gap: 2rem;
  
}

.navbar .toggle_btn {
  color: #ffffff;
  font-size: 1.5rem;
  padding-right: 20px;
  cursor: pointer;
  display: none;

}

.action_btn {
  padding-right: 10px;
  background-color: rgb(81, 226, 130);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
  background-color: #000000;
}

.action_btn:active {
  scale: 0.95;
}

/* Drop Down Menu */
.dropdown_menu {
  display:none;
  position: fixed;
  
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(21, 19, 19, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 330px;
  padding: 0.7rem;
  align-items: center;
  justify-content: center;
  
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.drop_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}



/* Media query for screens with a maximum width of 799px */
@media(max-width: 799px){

  .navbar .links,
  .navbar .action_btn {
    display: none;
    
    
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    
    
  }
}

@media (min-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}




.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

  position: relative;
  margin: auto;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 4}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.section-p1 {
  padding: 20px 20px;
}



#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
}

#product1 .pro img {
  width: 100%;
  border-radius: 30px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: warp;

}

#feature .fe-box {
  width: 150px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 5px;
  margin: 13px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #e0cacf
}

#feature .fe-box:nth-child(2) h6{
  background-color: #aa9dea;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #b6e8ab;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #ebaab9;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #f1b0f4;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #f7b5c4;
}
#product1{
  text-align: center;
}

.line {
  border: 0;
  border-bottom: 5px solid black;
  width: 0;
  animation: none;
}
@keyframes expand-contract {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes contract-expand {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}




#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 28%;
  min-width: 200px;
  padding: 10px 10px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
  margin: 20px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}
#product1 .pro img:hover {
  transform: scale(1.07); /* Increase the scale on hover to zoom the image a little */
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);

}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color:rgb(46, 207, 81); 
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #4f4747;
}
#product1 .pro .fa-solid {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  font-weight: 1000;
  color: #088178;
  border: 2px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the icon both horizontally and vertically */
  font-size: 40px; /* Adjust the font size as needed */
}

@media (max-width: 576px) {
  #product1 .pro{
    width: 10%;
    min-width: 190px;
    padding: 10px 10px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
    margin: 20px 0;
    transition: 0.2s ease;
    position: relative;
  }
  #product1 .pro img {
    height: 200px;
    width: 100%; /* Allow the width to adjust */
    object-fit: cover; /* Crop the image to fit the specified height and width */
  }
  
}
@media (min-width: 1100px) {

  #product1 .pro{
    width: 23%;
    min-width: 200px;
   
    padding: 10px 10px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
    margin: 20px 0;
    transition: 0.2s ease;
    position: relative;
  }
  #product1 .pro img {
    height: 320px;
    width: 100%; /* Allow the width to adjust */
}
}


.footer-distributed{
	background: #e3e6f3;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  margin-top: 80px; 
            padding: 10px 10px 0px 10px;
            bottom: 0;
            
           
  
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #000000;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #000000;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #000000;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	
	color: #000000;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #000000;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #000000;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
	border-radius: 2px;

	font-size: 20px;
	color: #000000;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
  section-p1{
    padding: 30px 30px;
  }

  #feature {
    justify-content: center;
    flex-wrap: wrap;
  }
  #feature .fe-box{
    margin : 15px 15px;
  }
  #product1 .pro-container{
    justify-content: center;
  }
  #product1 .pro {
   
    margin:15px;
  }
}





